In [11]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [12]:
import pandas as pd

load_file = "abc/purchase_data.csv"
df = pd.read_csv(load_file)

In [13]:
def dollar_sign(amount):
    return str.format(f"$ {amount}", {".2f"})


def precent_sign(value):
    return f"{value} %"

In [14]:
clean_df = df.rename(columns=lambda s: s.lower().replace(" ", "_"))

## Player Count

In [15]:
players_unique = clean_df["sn"].nunique()

In [16]:
t_players_df = pd.DataFrame([{"Total Players": players_unique}])

In [17]:
t_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [18]:
items_unique = clean_df["item_id"].nunique()
avg_item_price = round(clean_df["price"].mean(), 2)
num_purchases = clean_df["item_name"].count()
total_rev = round(clean_df["price"].sum(), 2)

In [19]:
purch_analysis_df = pd.DataFrame(
    {
        "Number of Unique Items": [items_unique],
        "Average Sales Price": [avg_item_price],
        "Total Number of Purchases": [num_purchases],
        "Total Revanue": [total_rev],
    }
)

In [20]:
purch_analysis_df["Average Sales Price"] = purch_analysis_df[
    "Average Sales Price"
].apply(dollar_sign)
purch_analysis_df["Total Revanue"] = purch_analysis_df["Total Revanue"].apply(
    dollar_sign
)

In [21]:
purch_analysis_df

,Number of Unique Items,Average Sales Price,Total Number of Purchases,Total Revanue
0,183,$ 3.05,780,$ 2379.77

## Gender Demographics

In [22]:
count_male = clean_df.loc[clean_df["gender"] == "Male", "sn"].nunique()
count_female = clean_df.loc[clean_df["gender"] == "Female", "sn"].nunique()
count_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "sn"
].nunique()

In [23]:
prec_male = round((count_male / players_unique * 100), 2)
prec_female = round((count_female / players_unique * 100), 2)
prec_other = round((count_other / players_unique * 100), 2)

In [24]:
gender_df = pd.DataFrame(
    {
        "Total Count": [count_male, count_female, count_other],
        "Precentage of Players": [prec_male, prec_female, prec_other],
    },
    index=["Male", "Female", "Other / Non-Disclosed"],
)

In [25]:
gender_df["Precentage of Players"] = gender_df["Precentage of Players"].apply(
    precent_sign
)

In [26]:
gender_df

                       Total Count Precentage of Players
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %

## Purchasing Analysis (Gender)

In [27]:
purchas_count_male = clean_df.loc[clean_df["gender"] == "Male", "sn"].count()
purchas_count_female = clean_df.loc[clean_df["gender"] == "Female", "sn"].count()
purchas_count_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "sn"
].count()

In [28]:
average_purchase_male = round(
    clean_df.loc[clean_df["gender"] == "Male", "price"].mean(), 2
)
average_purchase_female = round(
    clean_df.loc[clean_df["gender"] == "Female", "price"].mean(), 2
)
average_purchase_ohter = round(
    clean_df.loc[clean_df["gender"] == "Other / Non-Disclosed", "price"].mean(), 2
)

In [29]:
rev_total_male = clean_df.loc[clean_df["gender"] == "Male", "price"].sum()
rev_total_female = clean_df.loc[clean_df["gender"] == "Female", "price"].sum()
rev_total_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "price"
].sum()

In [30]:
sales_per_male = round(rev_total_male / count_male, 2)
sales_per_female = round(rev_total_female / count_female, 2)
sales_per_mother = round(rev_total_other / count_other, 2)

In [31]:
gender_analysis_df = pd.DataFrame(
    {
        "Purchase Count": [
            purchas_count_male,
            purchas_count_female,
            purchas_count_other,
        ],
        "Average Purchase Price": [
            average_purchase_male,
            average_purchase_female,
            average_purchase_ohter,
        ],
        "Total Purchase Value": [rev_total_male, rev_total_female, rev_total_other],
        "Avg Total Purchase per Person": [
            sales_per_male,
            sales_per_female,
            sales_per_mother,
        ],
    },
    index=["Male", "Female", "Other / Non-Disclosed"],
)

In [32]:
gender_analysis_df["Average Purchase Price"] = gender_analysis_df[
    "Average Purchase Price"
].apply(dollar_sign)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df[
    "Total Purchase Value"
].apply(dollar_sign)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df[
    "Avg Total Purchase per Person"
].apply(dollar_sign)

In [33]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$ 3.02,$ 1967.64,$ 4.07
Female,113,$ 3.2,$ 361.94,$ 4.47
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

In [34]:
clean_df.head()

,purchase_id,sn,age,gender,item_id,item_name,price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Age Demographics

In [53]:
clean_df["age_groups"] = pd.cut(
    clean_df["age"],
    bins=[0, 10, 15, 20, 25, 30, 35, 40, 100],
    labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    right=False,
)

In [54]:
clean_df["age_groups"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: age_groups, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [55]:
age_groups = clean_df.groupby(["age_groups"])

In [59]:
age_counts = age_groups["sn"].nunique()
age_counts

age_groups
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: sn, dtype: int64

In [63]:
age_precent = round((age_counts / players_unique) * 100, 2)

In [68]:
age_demo = pd.DataFrame(
    {"Age Groups Count": age_counts, "Precentage of Players": age_precent},
    index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
)

In [71]:
age_demo["Precentage of Players"] = age_demo["Precentage of Players"].apply(precent_sign)

NameError: name 'precent_sign' is not defined

In [69]:
age_demo

       Age Groups Count  Precentage of Players
<10                  17                   2.95
10-14                22                   3.82
15-19               107                  18.58
20-24               258                  44.79
25-29                77                  13.37
30-34                52                   9.03
35-39                31                   5.38
40+                  12                   2.08