In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

load_file = "Resources/purchase_data.csv"
df = pd.read_csv(load_file)

In [3]:
def dollar_sign(amount):
    correct_format = "{:.2f}".format(amount)
    return f"$ {correct_format}"


def precent_sign(value):
    return f"{value} %"

In [4]:
clean_df = df.rename(columns=lambda s: s.lower().replace(" ", "_"))

## Player Count

In [5]:
players_unique = clean_df["sn"].nunique()

In [6]:
t_players_df = pd.DataFrame([{"Total Players": players_unique}])

## Purchasing Analysis (Total)

In [8]:
items_unique = clean_df["item_id"].nunique()
avg_item_price = round(clean_df["price"].mean(), 2)
num_purchases = clean_df["item_name"].count()
total_rev = round(clean_df["price"].sum(), 2)

In [9]:
purch_analysis_df = pd.DataFrame(
    {
        "Number of Unique Items": [items_unique],
        "Average Sales Price": [avg_item_price],
        "Total Number of Purchases": [num_purchases],
        "Total Revanue": [total_rev],
    }
)

In [10]:
purch_analysis_df["Average Sales Price"] = purch_analysis_df[
    "Average Sales Price"
].apply(dollar_sign)
purch_analysis_df["Total Revanue"] = purch_analysis_df["Total Revanue"].apply(
    dollar_sign
)

## Gender Demographics

In [12]:
count_male = clean_df.loc[clean_df["gender"] == "Male", "sn"].nunique()
count_female = clean_df.loc[clean_df["gender"] == "Female", "sn"].nunique()
count_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "sn"
].nunique()

In [13]:
prec_male = round((count_male / players_unique * 100), 2)
prec_female = round((count_female / players_unique * 100), 2)
prec_other = round((count_other / players_unique * 100), 2)

In [14]:
gender_df = pd.DataFrame(
    {
        "Total Count": [count_male, count_female, count_other],
        "Precentage of Players": [prec_male, prec_female, prec_other],
    },
    index=["Male", "Female", "Other / Non-Disclosed"],
)

In [15]:
gender_df["Precentage of Players"] = gender_df["Precentage of Players"].apply(
    precent_sign
)

## Purchasing Analysis (Gender)

In [17]:
purchas_count_male = clean_df.loc[clean_df["gender"] == "Male", "sn"].count()
purchas_count_female = clean_df.loc[clean_df["gender"] == "Female", "sn"].count()
purchas_count_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "sn"
].count()

In [18]:
average_purchase_male = round(
    clean_df.loc[clean_df["gender"] == "Male", "price"].mean(), 2
)
average_purchase_female = round(
    clean_df.loc[clean_df["gender"] == "Female", "price"].mean(), 2
)
average_purchase_ohter = round(
    clean_df.loc[clean_df["gender"] == "Other / Non-Disclosed", "price"].mean(), 2
)

In [19]:
rev_total_male = clean_df.loc[clean_df["gender"] == "Male", "price"].sum()
rev_total_female = clean_df.loc[clean_df["gender"] == "Female", "price"].sum()
rev_total_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "price"
].sum()

In [20]:
sales_per_male = round(rev_total_male / count_male, 2)
sales_per_female = round(rev_total_female / count_female, 2)
sales_per_mother = round(rev_total_other / count_other, 2)

In [21]:
gender_analysis_df = pd.DataFrame(
    {
        "Purchase Count": [
            purchas_count_male,
            purchas_count_female,
            purchas_count_other,
        ],
        "Average Purchase Price": [
            average_purchase_male,
            average_purchase_female,
            average_purchase_ohter,
        ],
        "Total Purchase Value": [rev_total_male, rev_total_female, rev_total_other],
        "Avg Total Purchase per Person": [
            sales_per_male,
            sales_per_female,
            sales_per_mother,
        ],
    },
    index=["Male", "Female", "Other / Non-Disclosed"],
)

In [22]:
gender_analysis_df["Average Purchase Price"] = gender_analysis_df[
    "Average Purchase Price"
].apply(dollar_sign)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df[
    "Total Purchase Value"
].apply(dollar_sign)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df[
    "Avg Total Purchase per Person"
].apply(dollar_sign)

## Age Demographics

In [24]:
clean_df["Age Groups"] = pd.cut(
    clean_df["age"],
    bins=[0, 10, 15, 20, 25, 30, 35, 40, 100],
    labels=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    right=False,
)

In [25]:
age_groups = clean_df.groupby(["Age Groups"])
unique_age_counts = age_groups["sn"].nunique()
age_precent = round((unique_age_counts / players_unique) * 100, 2)

In [26]:
age_demo = pd.DataFrame(
    {"Age Groups Count": unique_age_counts, "Precentage of Players": age_precent},
    index=["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
)

In [27]:
age_demo["Precentage of Players"] = age_demo["Precentage of Players"].apply(
    precent_sign
)

## Purchasing Analysis (Age)

In [29]:
full_age_counts = age_groups["sn"].count()
revenue_by_age = age_groups["price"].sum()
age_average_spending = round((revenue_by_age / full_age_counts), 2)
per_person_reveanue = round((revenue_by_age / unique_age_counts), 2)

In [30]:
age_analysis = pd.DataFrame(
    {
        "Purchase Count": full_age_counts,
        "Average Purchase Price": age_average_spending,
        "Total Purchase Value": revenue_by_age,
        "Avg Total Purchase per Person": per_person_reveanue,
    },
)

In [31]:
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].apply(
    dollar_sign
)
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].apply(
    dollar_sign
)
age_analysis["Avg Total Purchase per Person"] = age_analysis[
    "Avg Total Purchase per Person"
].apply(dollar_sign)

## Top Spenders

In [33]:
sn_groups = clean_df.groupby(["sn"])
purchase_value = sn_groups["price"].sum()
sn_purchase_counts = sn_groups["purchase_id"].count()
sn_avg_purchase = round(purchase_value / sn_purchase_counts, 2)

In [34]:
top_spend_df = pd.DataFrame(
    {
        "Purchase Count": sn_purchase_counts,
        "Average Purchase Price": sn_avg_purchase,
        "Total Purchase Value": purchase_value,
    }
)

In [35]:
top_spend_df = top_spend_df.sort_values("Total Purchase Value", ascending=False).head(5)

In [36]:
top_spend_df["Average Purchase Price"] = top_spend_df["Average Purchase Price"].apply(
    dollar_sign
)
top_spend_df["Total Purchase Value"] = top_spend_df["Total Purchase Value"].apply(
    dollar_sign
)

## Most Popular Items

In [38]:
item_df = clean_df[["item_id", "item_name", "price"]]

In [39]:
item_info_group = item_df.groupby(["item_id", "item_name"])

In [40]:
items_count = item_info_group["price"].count()
items_price = item_info_group["price"].mean()
items_total_rev = items_count * items_price

In [41]:
popular_items_df = pd.DataFrame(
    {
        "Purchase Count": items_count,
        "Item Price": items_price,
        "Total Purchase Value": items_total_rev,
    }
)

In [42]:
popular_items_top_5 = popular_items_df.sort_values(
    "Purchase Count", ascending=False
).head(5)

In [43]:
popular_items_top_5["Item Price"] = popular_items_top_5["Item Price"].apply(dollar_sign)
popular_items_top_5["Total Purchase Value"] = popular_items_top_5[
    "Total Purchase Value"
].apply(dollar_sign)

## Most Profitable Items

In [45]:
most_profitale_items_df = popular_items_df.sort_values(
    "Total Purchase Value", ascending=False
).head(5)

In [46]:
most_profitale_items_df["Item Price"] = most_profitale_items_df["Item Price"].apply(
    dollar_sign
)
most_profitale_items_df["Total Purchase Value"] = most_profitale_items_df[
    "Total Purchase Value"
].apply(dollar_sign)

## Player Count

In [7]:
t_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [55]:
purch_analysis_df

,Number of Unique Items,Average Sales Price,Total Number of Purchases,Total Revanue
0,183,$ 3.05,780,$ 2379.77

## Gender Demographics

In [48]:
gender_df

                       Total Count Precentage of Players
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %

## Purchasing Analysis (Gender)

In [49]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$ 3.02,$ 1967.64,$ 4.07
Female,113,$ 3.20,$ 361.94,$ 4.47
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

## Age Demographics

In [50]:
age_demo

       Age Groups Count Precentage of Players
<10                  17                2.95 %
10-14                22                3.82 %
15-19               107               18.58 %
20-24               258               44.79 %
25-29                77               13.37 %
30-34                52                9.03 %
35-39                31                5.38 %
40+                  12                2.08 %

## Purchasing Analysis (Age)

In [51]:
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$ 3.35,$ 77.13,$ 4.54
10-14,28,$ 2.96,$ 82.78,$ 3.76
15-19,136,$ 3.04,$ 412.89,$ 3.86
20-24,365,$ 3.05,$ 1114.06,$ 4.32
25-29,101,$ 2.90,$ 293.00,$ 3.81
30-34,73,$ 2.93,$ 214.00,$ 4.12
35-39,41,$ 3.60,$ 147.67,$ 4.76
40+,13,$ 2.94,$ 38.24,$ 3.19

## Top Spenders

In [52]:
top_spend_df

             Purchase Count Average Purchase Price Total Purchase Value
sn
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

## Most Popular Items

In [53]:
popular_items_top_5

,,Purchase Count,Item Price,Total Purchase Value
item_id,item_name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77
82,Nirvana,9,$ 4.90,$ 44.10
19,"Pursuit, Cudgel of Necromancy",8,$ 1.02,$ 8.16

## Most Profitable Items

In [54]:
most_profitale_items_df

,,Purchase Count,Item Price,Total Purchase Value
item_id,item_name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
92,Final Critic,8,$ 4.88,$ 39.04
103,Singed Scalpel,8,$ 4.35,$ 34.80