In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

load_file = "abc/purchase_data.csv"
df = pd.read_csv(load_file)

In [3]:
clean_df = df.rename(columns=lambda s: s.lower().replace(" ", "_"))
clean_df.head()

,purchase_id,sn,age,gender,item_id,item_name,price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [4]:
players_unique = clean_df["sn"].nunique()

In [5]:
t_players_df = pd.DataFrame([{"Total Players": players_unique}])

In [6]:
t_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [7]:
items_unique = clean_df["item_name"].nunique()
avg_item_price = round(clean_df["price"].mean(), 2)
num_purchases = clean_df["item_name"].count()
total_rev = round(clean_df["price"].sum(), 2)

In [8]:
purch_analysis = pd.DataFrame(
    {
        "Number of Unique Items": [items_unique],
        "Average Sales Price": [avg_item_price],
        "Total Number of Purchases": [num_purchases],
        "Total Revanue": [total_rev],
    }
)

In [9]:
purch_analysis["Average Sales Price"] = purch_analysis["Average Sales Price"].apply(
    lambda dollar: f"${dollar}"
)
purch_analysis["Total Revanue"] = purch_analysis["Total Revanue"].apply(
    lambda dollar: f"${dollar}"
)

In [10]:
purch_analysis

,Number of Unique Items,Average Sales Price,Total Number of Purchases,Total Revanue
0,179,$3.05,780,$2379.77

## Gender Demographics