In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

load_file = "abc/purchase_data.csv"
df = pd.read_csv(load_file)

In [25]:
def dollar_sign(amount):
    return str.format(f"$ {amount}", {".2f"})


def precent_sisn(value):
    return f"{value} %"

In [26]:
clean_df = df.rename(columns=lambda s: s.lower().replace(" ", "_"))

## Player Count

In [27]:
players_unique = clean_df["sn"].nunique()

In [28]:
t_players_df = pd.DataFrame([{"Total Players": players_unique}])

In [29]:
t_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [30]:
items_unique = clean_df["item_name"].nunique()
avg_item_price = round(clean_df["price"].mean(), 2)
num_purchases = clean_df["item_name"].count()
total_rev = round(clean_df["price"].sum(), 2)

In [31]:
purch_analysis_df = pd.DataFrame(
    {
        "Number of Unique Items": [items_unique],
        "Average Sales Price": [avg_item_price],
        "Total Number of Purchases": [num_purchases],
        "Total Revanue": [total_rev],
    }
)

In [32]:
purch_analysis_df["Average Sales Price"] = purch_analysis_df[
    "Average Sales Price"
].apply(dollar_sign)
purch_analysis_df["Total Revanue"] = purch_analysis_df["Total Revanue"].apply(
    dollar_sign
)

In [33]:
purch_analysis_df

,Number of Unique Items,Average Sales Price,Total Number of Purchases,Total Revanue
0,179,$ 3.05,780,$ 2379.77

## Gender Demographics

In [34]:
count_male = clean_df.loc[clean_df["gender"] == "Male", "sn"].nunique()
count_female = clean_df.loc[clean_df["gender"] == "Female", "sn"].nunique()
count_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "sn"
].nunique()

In [35]:
prec_male = round((count_male / players_unique * 100), 2)
prec_female = round((count_female / players_unique * 100), 2)
prec_other = round((count_other / players_unique * 100), 2)

In [36]:
gender_df = pd.DataFrame(
    {
        "Total Count": [count_male, count_female, count_other],
        "Precentage of Players": [prec_male, prec_female, prec_other],
    },
    index=["Male", "Female", "Other / Non-Disclosed"],
)

In [37]:
gender_df["Precentage of Players"] = gender_df["Precentage of Players"].apply(
    precent_sisn
)

In [38]:
gender_df

                       Total Count Precentage of Players
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %

## Purchasing Analysis (Gender)

In [40]:
purchas_count_male = clean_df.loc[clean_df["gender"] == "Male", "sn"].count()
purchas_count_female = clean_df.loc[clean_df["gender"] == "Female", "sn"].count()
purchas_count_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "sn"
].count()

In [41]:
average_purchase_male = round(
    clean_df.loc[clean_df["gender"] == "Male", "price"].mean(), 2
)
average_purchase_female = round(
    clean_df.loc[clean_df["gender"] == "Female", "price"].mean(), 2
)
average_purchase_ohter = round(
    clean_df.loc[clean_df["gender"] == "Other / Non-Disclosed", "price"].mean(), 2
)

In [42]:
rev_total_male = clean_df.loc[clean_df["gender"] == "Male", "price"].sum()
rev_total_female = clean_df.loc[clean_df["gender"] == "Female", "price"].sum()
rev_total_other = clean_df.loc[
    clean_df["gender"] == "Other / Non-Disclosed", "price"
].sum()

In [43]:
sales_per_male = round(rev_total_male / count_male, 2)
sales_per_female = round(rev_total_female / count_female, 2)
sales_per_mother = round(rev_total_other / count_other, 2)

In [44]:
gender_analysis_df = pd.DataFrame(
    {
        "Purchase Count": [
            purchas_count_male,
            purchas_count_female,
            purchas_count_other,
        ],
        "Average Purchase Price": [
            average_purchase_male,
            average_purchase_female,
            average_purchase_ohter,
        ],
        "Total Purchase Value": [rev_total_male, rev_total_female, rev_total_other],
        "Avg Total Purchase per Person": [
            sales_per_male,
            sales_per_female,
            sales_per_mother,
        ],
    },
    index=["Male", "Female", "Other / Non-Disclosed"],
)

In [45]:
gender_analysis_df["Average Purchase Price"] = gender_analysis_df[
    "Average Purchase Price"
].apply(dollar_sign)
gender_analysis_df["Total Purchase Value"] = gender_analysis_df[
    "Total Purchase Value"
].apply(dollar_sign)
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df[
    "Avg Total Purchase per Person"
].apply(dollar_sign)

In [46]:
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$ 3.02,$ 1967.64,$ 4.07
Female,113,$ 3.2,$ 361.94,$ 4.47
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56